<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
                
        <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python37\python.exe|C:\Python37\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
        </handlers>
    </system.webServer>
	<appSettings>
    <add key="WSGI_HANDLER" value="my_app.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\MLImageUpload" />
	<add key="WSGI_LOG" value="C:\inetpub\wwwroot\MLImageUpload\app.log" />
        <add key="WSGI_ALT_VIRTUALENV_ACTIVATE_THIS" value="C:\inetpub\wwwroot\MLImageUpload\my_app.py" />
  </appSettings>
</configuration>
